<!DOCTYPE HTML> 
<html lang="en">
{{>head}}
<body>
  {{>header}}
  <div class="container">
    {{!--
      {{log this}}
    --}}
    <div class="col-sm-12">
      {{{ body }}}
    </div>
  </div>
  {{>footer}}
</body>
</html>