{{#if authenticated}}
  <div class="jumbotron">
    <h1>User Authentication</h1>
    <p>Below is your profile information!</p>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>
    <div class="panel-body">
      <p>Username: {{user.username}}</p>
    </div>
  </div>

{{else}}
  <div class="jumbotron">
    <h1>Time table application</h1>
    <p>
      <a href="/login" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Log In
      </a> 
      {{!--
      or 
      <a href="/signup" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Sign Up
      </a>
      --}}
    </p>
  </div>
{{/if}}