<div class="row">
<div class="col-md-12">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title pull-left">{{pageTitle}}</h1>
  </div>
  <div class="panel-body">
  </div>
</div>
</div>
</div>